@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Device.css" />
</head>
<body>
    <div id="particles-js"></div>
    <script type="text/javascript" src="~/js/particles.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <header>
        <nav>
            <ul class="nav__links">
                <li class="nav__left"><a href="~/HomePage/Index">Home</a></li>
                <li><a href="~/Device/Index">Devices</a></li>
                <li><a href="~/Room/Index">Rooms</a></li>
                <li><a href="~/Event/Index">Events</a></li>
                <li><a href="~/Task/Index">Tasks</a></li>
                <li><a href="~/Comms/Index">Comms</a></li>
                <li><a href="~/Finance/Index">Finance</a></li>
                <li class="nav__right"><a href="~/Login_Register/Login_Register">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="content-wrapper">
        <h1 class="title">Profile</h1>
        @foreach(var user in ViewBag.user){
            <p class="card-title">ID: @user.ID</p>
            <p class="card-title">First Name: @user.F_Name</p>
            <p class="card-title">Last Name: @user.L_Name</p>
            <p class="card-title">Email: @user.Email</p>
            <p class="card-title">Preferences: @user.Preferences</p>
            <p class="card-title">Type: @user.Type</p>
            <p class="card-title">Birthdate: @user.Birth_Date</p>
            <p class="card-title">Age: @user.Age</p>
            @if(ViewBag.isAdmin){
                <p class="card-title">Number of Guests Present: @ViewBag.guests</p>
            }
        }
    <br>
    <br>
    @if(ViewBag.isAdmin) {
        @if(TempData["Remove"] != null){
            if(TempData["Remove"].Equals("Success")){
                <alert class="alert alert-success">Guest Removed</alert>
            }
            else{
                <alert class="alert alert-danger">Guest Not Removed</alert>
            }
        }
        <section>
            <h2 class="section-title" style="color: white;">Remove Guest</h2>
            <div class="section-content">
                <form method="post" asp-action="GuestRemove" asp-controller="HomePage">
                  <input type="number" name="id" placeholder="Guest ID" />
                  <button type="submit" value="Remove Guest" >Remove Guest</button>
                </form>
            </div>
        </section>
        <section>
            <h2 class="section-title" style="color: white;">SetAllowedGuests</h2>
            <div class="section-content"> 
                @if(TempData["Set"] != null){
                    if(TempData["Set"].Equals("Success")){
                        <alert class="alert alert-success">Changed Number Of Allowed Guests Successfully</alert>
                    }
                    else{
                        <alert class="alert alert-danger">Didn't Change Number Of Allowed Guests</alert>
                    }
                }
                <form method="post" asp-action="SetAllowedGuests" asp-controller="HomePage">
                  <div>
                    <input type="number" name="id" placeholder="Admin ID" />
                  </div>
                  <div>
                    <input type="number" name="num" placeholder="Number of Allowed Guests" />
                  </div>
                  <button type="submit" value="Set">Set</button>
                </form>
            </div>
        </section>

      
    }

    </div>
    @*
    @if(ViewBag.isAdmin){
        @if(TempData["Remove"] != null){
            if(TempData["Remove"].Equals("Success")){
                <alert class="alert alert-success">Guest Removed</alert>
            }
            else{
                <alert class="alert alert-danger">Guest Not Removed</alert>
            }
        }
      <form method="post" asp-action="GuestRemove" asp-controller="HomePage">
        <input type="number" name="id" placeholder="Guest ID" />
        <button type="submit" value="Remove Guest" />
      </form>

    @if(TempData["Set"] != null){
        if(TempData["Set"].Equals("Success")){
            <alert class="alert alert-success">Changed Number Of Allowed Guests Successfully</alert>
        }
        else{
            <alert class="alert alert-danger">Didn't Change Number Of Allowed Guests</alert>
        }
    }

      <form method="post" asp-action="SetAllowedGuests" asp-controller="HomePage">
        <input type="number" name="id" placeholder="Admin ID" />
        <input type="number" name="num" placeholder="Number of Allowed Guests" />
        <button type="submit" value="Set"/>
      </form>
    } *@
    <script>
    // Wrap your JavaScript code in a window.onload event
    window.onload = function () {
        var sectionTitles = document.querySelectorAll('.section-title');
        sectionTitles.forEach(function (title) {
            title.addEventListener('click', function () {
                var content = this.nextElementSibling;
                content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + 'px';
            });
        });
    }
    </script>
</body>
</html>
