@* @using Microsoft.AspNetCore.Mvc.Rendering;
@using InfinitySystems.Models;
@model InfinitySystems.Models.Room
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Room.css" />
    <link rel="stylesheet" href="~/css/RoomNav.css" />
    <title>Rooms</title>
  </head>
  <body>
    <script type="text/javascript" src="~/js/particles.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <div class="nav">
      <button class="btn-nav">
        <span class="icon-bar top"></span>
        <span class="icon-bar middle"></span>
        <span class="icon-bar bottom"></span>
      </button>
    </div>
    <div class="nav-content hideNav hidden">
      <ul class="nav-list">
        <li class="nav-item">
          <form method="get" asp-action="Index" asp-controller="HomePage">
            <input type="submit" value="Home" class="item-anchor">
          </form>
        </li>
        <li class="nav-item">
          <form method="get" asp-action="Index" asp-controller="Device">
            <input type="submit" value="Devices" class="item-anchor">
          </form>
        </li>
        <li class="nav-item">
          <form method="get" asp-action="Event" asp-controller="Event">
            <input type="submit" value="Events" class="item-anchor">
          </form>
        </li>
        <li class="nav-item">
          <form method="get" asp-action="Index" asp-controller="Finance">
            <input type="submit" value="Finance" class="item-anchor">
          </form>
        </li>
        <li class="nav-item">
          <form method="get" asp-action="Index" asp-controller="Comms">
            <input type="submit" value="Comms" class="item-anchor">
          </form>
        </li>
        <li class="nav-item">
          <form method="get" asp-action="Index" asp-controller="Task">
            <input type="submit" value="Tasks" class="item-anchor">
          </form>
        </li>
      </ul>
      <div class="line-betwen"></div>
    </div>

    <h1>Rooms</h1>
    <h2>Your Room</h2>
    
    @foreach(var room in ViewBag.Rooms){
      <div class="Card">
        <div class="innerCard">
          <div class="frontSide">
            <p class="title">Room no. @room.Id</p>
            <h4>@room.Type</h4>
            <h5>Floor: @room.Floor</h5>
          </div>
        </div>
      </div>
    }
    <br/>

    @using(Html.BeginForm("RoomBook", "Room", FormMethod.Post)){
      if(TempData["Book"] != null){
        <div class="alert alert-success" role="alert">
          @TempData["Book"]
        </div>
      }
      if(TempData["Not Book"] != null){
        <div class="alert alert-danger" role="alert">
          @TempData["Not Book"]
        </div> 
      } 
      <h3>Book A Room</h3>
      @Html.TextBoxFor(m => m.Id, new { @type="number", @class="bookroom", @placeholder="Enter Room Id", @required="required" })
      <input type="submit" value="Book"/>
    }
    <br/>
    
    @if(ViewBag.isAdmin){
      @using(Html.BeginForm("RoomSchedule", "Room", FormMethod.Post)){
      <h3>Create a schedule for room</h3>
      @if(TempData["Schedule"] != null){
          <div class="alert alert-success" role="alert">
            @TempData["Schedule"]
          </div>
        }
        if(TempData["Not Schedule"] != null){
          <div class="alert alert-danger" role="alert">
            @TempData["Not Schedule"]
          </div> 
        }
        <p>Schedule a Room</p>
        <input type="number" name="RoomId" placeholder="Room Id"/>
        <p>Pick Start Time</p>
        <input type="datetime-local" name="start" placeholder="Date"/>
        <p>Pick End Time</p>
        <input type="datetime-local" name="end" placeholder="Time"/>
        <input type="text" name="action" placeholder="Action"/>
        <input type="submit" value="Schedule"/>
      }
      
      <br/>
      @using(Html.BeginForm("RoomStatus", "Room", FormMethod.Post)){
      <h3>Change status of a room</h3>
        @if(TempData["Status"] != null){
          <div class="alert alert-success" role="alert">
            @TempData["Status"]
          </div>
        }
        if(TempData["Not Status"] != null){
          <div class="alert alert-danger" role="alert">
            @TempData["Not Status"]
          </div> 
        }
        <p>Choose Room</p>
        <input type="number" name="RoomId" placeholder="Room Id"/>
        <input type="text" name="status" placeholder="Status"/>
        <input type="submit" value="Change"/>
      }
      <br/>
      <h3>Not Used Rooms</h3>
      @foreach(var room in ViewBag.NotUsedRooms){
        <div class="myCard">
          <div class="innerCard">
            <div class="frontSide">
              <p class="title">Room no. @room.Id</p>
            </div>
            <div class="backSide">
              <p class="title">Room no. @room.Id</p>
              <h4>@room.Type</h4>
              <h5>Floor: @room.Floor</h5>
            </div>
          </div>
        </div>
      }
    }
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/Room.js"></script>
  </body>
</html> *@


@using Microsoft.AspNetCore.Mvc.Rendering;
@using InfinitySystems.Models;
@model InfinitySystems.Models.Room

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room</title>
    <link rel="stylesheet" href="~/css/Device.css"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div id="particles-js"></div>
    <script type="text/javascript" src="~/js/particles.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <header>
        <nav>
            <ul class="nav__links">
                <li class="nav__left"><a href="~/Rooms/Index">Rooms</a></li>
                <li><a href="~/HomePage/Index">Home</a></li>
                <li><a href="~/Device/Index">Device</a></li>
                <li><a href="~/Event/Index">Events</a></li>
                <li><a href="~/Task/Index">Tasks</a></li>
                <li><a href="~/Comms/Index">Comms</a></li>
                <li><a href="~/Finance/Index">Finance</a></li>
                <li class="nav__right"><a href="~/Login_Register/Login_Register">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <h1 class="title">Rooms</h1>
        <h2 class="title">Your Room</h2>
        <div class="cards-container">
          @foreach (var room in ViewBag.Rooms)
          {
              <div class="Card">
                  <div class="innerCard">
                      <div class="frontSide">
                          <p class="card-title">Room no. @room.Id</p>
                          <p class="card-info">Type: @room.Type</p>
                          <p class="card-info">Floor: @room.Floor</p>
                      </div>
                  </div>
              </div>
          }
        </div>
      <br>
      <br>
     
        <section style="margin-bottom: 20px;">
          <h2 class="section-title" style="color: white;">Book Room</h2>
          <div class="section-content">
            @using(Html.BeginForm("RoomBook", "Room", FormMethod.Post)){
              if(TempData["Book"] != null){
                <div class="alert alert-success" role="alert">
                  @TempData["Book"]
                </div>
              }
              if(TempData["Not Book"] != null){
                <div class="alert alert-danger" role="alert">
                  @TempData["Not Book"]
                </div> 
              } 
              @Html.TextBoxFor(m => m.Id, new { @type="number", @class="bookroom", @placeholder="Enter Room Id", @required="required" })
              <div>
                <button type="submit">Book</button>
              </div>
            }
          </div>
        </section>
        @if(ViewBag.isAdmin) {
        <section>
          <h2 class="section-title" style="color: white;">Create a schedule for room</h2>
          <div class="section-content">
            @using(Html.BeginForm("RoomSchedule", "Room", FormMethod.Post)){
              if(TempData["Schedule"] != null){
                <div class="alert alert-success" role="alert">
                  @TempData["Schedule"]
                </div>
              }
              if(TempData["Not Schedule"] != null){
                <div class="alert alert-danger" role="alert">
                  @TempData["Not Schedule"]
                </div> 
              }
              <p>Schedule a Room</p>
              <input type="number" name="RoomId" placeholder="Room Id" required/>
              <p>Pick Start Time</p>
              <div>
                <input type="datetime-local" name="start" placeholder="Date" required/>
              </div>
              <p>Pick End Time</p>
              <div>
                <input type="datetime-local" name="end" placeholder="Time" required/>
              </div>
              <div>
                <input type="text" name="action" placeholder="Action" required/>
              </div>
              <button type="submit">Schedule</button>
            }
          </div>
        </section>
        <section>
          <h2 class="section-title" style="color: white;">Change status of a room</h2>
          <div class="section-content">
            @using(Html.BeginForm("RoomStatus", "Room", FormMethod.Post)){
              if(TempData["Status"] != null){
                <div class="alert alert-success" role="alert">
                  @TempData["Status"]
                </div>
              }
              if(TempData["Not Status"] != null){
                <div class="alert alert-danger" role="alert">
                  @TempData["Not Status"]
                </div> 
              }
              <p>Choose Room</p>
              <div>
                <input type="number" name="RoomId" placeholder="Room Id" required/>
              </div>
              <div>
                <input type="text" name="status" placeholder="Status" required/>
              </div>
              <div>
                <button type="submit">Change</button> 
              </div>
            }
          </div>
        </section>
        <section>
          <h2 class="section-title" style="color: white;">Not Used Rooms</h2>
          <div class="section-content">
            <div class="cards-container">
              @foreach(var room in ViewBag.NotUsedRooms){
                <div class="myCard"  style="margin: 10px;">
                  <div class="innerCard">
                    <div class="frontSide">
                      <p class="card-title">Room no. @room.Id</p>
                    </div>
                    <div class="backSide">
                      <p class="card-title">Room no. @room.Id</p>
                      <p class="card-info">Type: @room.Type</p>
                      <p class="card-info">Floor: @room.Floor</p>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </section>
      }
    </div>

     <script>
        // Wrap your JavaScript code in a window.onload event
        window.onload = function () {
            var sectionTitles = document.querySelectorAll('.section-title');
            sectionTitles.forEach(function (title) {
                title.addEventListener('click', function () {
                    var content = this.nextElementSibling;
                    content.style.maxHeight = content.style.maxHeight ? null : content.scrollHeight + 'px';
                });
            });
        }
    </script>

</body>
</html>
